@model Seminar

@{
    ViewData["Title"] = "Delete Seminar";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.Name</h1>
        </p>
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Room: </b>
                            <a asp-controller="Rooms" asp-action="Details" asp-route-id="@Model.RoomId">
                                @Model.Room.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Sponsor: </b>
                            <a asp-controller="Sponsors" asp-action="Details" asp-route-id="@Model.SponsorId">
                                @Model.Sponsor.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.SeminarCategory</p>
                        <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">EXPIRED</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </p>
                        <p class="card-text">
                            <b>Speakers: </b>
                            <hr />
                            <div class="row">
                                @foreach (var speaker in Model.Speakers_Seminars)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@speaker.Speaker.ProfilePictureURL" style="max-width: 150px" />
                                        <br />
                                        <a asp-controller="Speakers" asp-action="Details" asp-route-id="@speaker.SpeakerId">@speaker.Speaker.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            
                            <div class="form-group">
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Confirm" class="btn btn-outline-danger float-end" />
                                </form>
                                <a class="btn btn-outline-primary float-end me-2" asp-action="Index">
                                    Back to List
                                </a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>